<%= form_with url: 'ShowShort' do |f| %>
    <h5>Short Url : <%= f.text_field :short_url %><br><br> 
    <%= f.submit "Find Long Url" %></h5>
  <% end %>
  <center><%= link_to "Home",home_index_path%></center>

