<ul class="list-group">
<% @result.each do |key,value|%>
<% unless key == "action" or key == "controller"%>
  <li class="list-group-item"><%= key %> : <%= value%>
</li>

<% end %>

<%end %>
</ul>
<center><%= link_to "Back",:back %></center>
<center><%= link_to "Home",home_index_path%></center>
  
